.tile{
    width: 105vw;
    text-align: left;
}

.tile-text {
    top: -250px;
    padding-left: 100px;
}

.stackable{
    height:59vh;
}

.primary{
    height: 103vh;
}

.tile-wrapper-primary{
    left: 100px;
    position: absolute;
    padding: 150px auto;
    margin:100px auto;

}

.tile-wrapper-stackable{
    top: 100px;
    left: 100px;
    position: absolute;
    color:white;
    padding: 10px auto;

}
.white{
    background: white;
    color: black;
}
.blue {
    background: #187ad6;
    color:white;
}
.mint {
    background: #19d691;
    color:white;
}
.orange{
 color:white;
 background: #ff6e21; /* Old browsers */

}

.red{
    color: white;
    background: #d61515;
}
body {
    color: white;
    font-family: 'Georgia', serif;
    font-size: 25px;
}
.header-wrapper{
    height: 110px;
}
.emphasis {
   font: italic 700 84px/1.2 'playfair display';
    font-size: 100px;
    display: inline;
}
.inline {
    display: inline;
 }

.header {
    font-family: 'Georgia', serif;
    font-size: 72px;
}

img{
    position: absolute;
    display: inline;
}
.a {
    left: 170px;
    top: 300px;
}
.b {
    left: 320px;
    top: 300px;
}

.c{
    left:470px;
    top:300px;
}

.d{
    left: 620px;
    top:300px;
}