html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

img {
    position: absolute;
    display: inline;
}

.list{
    margin-left: 20px;
    font: 700 26px/1.2 'playfair display';
    line-height: 50px;
}

.tile {
    width: 130vw;
}

.tile-text {
    top: -250px;
    padding-left: 100px;
}

.stackable {
    height: 79vh;
}

.primary {
    height: 103vh;
}

.tile-wrapper-primary {
    left: 100px;
    position: absolute;
    padding: 150px auto;
    margin: 100px auto;
}

.tile-wrapper-stackable {
    top: 100px;
    left: 100px;
    position: absolute;
    color: white;
    padding: 10px auto;
}

.tile-wrapper-textbox {
    top: 100px;
    left: 40%;
    position: absolute;
    color: white;
}

.white {
    background: white;
    color: black;
}

.blue {
    background: #187ad6;
    color: white;
}

.mint {
    background: #19d691;
    color: white;
}

.orange {
    color: white;
    background: #ff6e21;
    /* Old browsers */
}

.red {
    color: white;
    background: #d61515;
}

.header-wrapper {
    height: 110px;
}

.emphasis {
    font: italic 700 84px/1.2 'playfair display';
    font-size: 100px;
    display: inline;
}

.header {
    font-family: 'Roboto', sans-serif;
    font-size: 72px;
}

.a {
    left: 170px;
    top: 300px;
}

.b {
    left: 320px;
    top: 300px;
}

.c {
    left: 470px;
    top: 300px;
}

.d {
    left: 620px;
    top: 300px;
}

.font-orange {
    color: #ff6e21;
}

.font-mint {
    color: #19d691;
}

.font-blue {
    color: #187ad6;
}

.textbox-tile {
    line-height: 50px;
    margin-top: 280px;
    z-index: 15;
    position: relative;
    height: 200px;
    width: 50vw;
    padding: 40px;
    margin-left:-300px;
    
}
.bottom{
    display:inline;
    text-align:right;
    padding-right: 100px;
}
ul {
    float: left;
    width: 24em;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  li {
    float: left;
    width: 6em;
    margin: -10px;
  } 

  .text{
      margin-left: 100px;
  }