/*PEN STYLES*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700);
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


h1 {
 font-family: "Roboto";
 line-height: 1em;
}
h2 {
 font-family: "Open Sans";
 line-height: 1em;
}
h3 {
  font-style: bold;
 font-family: "Open Sans";
 font-size: 20px;
 line-height: .5em;
}
h4{
  color: #9b9b9b;
  font-family: "Roboto";
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
}
footer{
  margin: 50px auto;
}

a:link.no-underline{
  color: #FFA500;
  text-decoration: none;
}
a:hover.no-underline{
  color: #fff;
  background: #FFA500;
  text-decoration: none;
}
a:visited.no-underline{
  color: #9b9b9b;
  text-decoration: none;
}
a:visited:hover.no-underline{
  color: #000;
  background: #9b9b9b;
  text-decoration: none;
}
.header-cont {
  font-family: "Open Sans";
    width:100%;
    position:fixed;
    top:0px;
}

.header {
  line-height: 1em;
    font-family: "Open Sans";
    height:50px;
    background:#FFF;
    border:1px solid #CCC;
    width:960px;
     margin:0px auto;
}

.blog-card {
  transition: height 0.3s ease;
  -webkit-transition: height 0.3s ease;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
  margin: 0 auto 1.6%;
  overflow: hidden;
  position: relative;
  font-size: 14px;
  line-height: 1.45em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.blog-card:hover .details {
  left: 0;
}
.blog-card:hover.alt .details {
  right: 0;
}
.blog-card.alt .details {
  right: -100%;
  left: inherit;
}
.blog-card .photo {
  height: 200px;
  position: relative;
}
.blog-card .photo.photo1 {
  background: url("http://is1.mzstatic.com/image/thumb/Purple71/v4/93/95/20/93952071-63d9-ed18-a9f3-da753674f091/source/1200x630bb.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo2 {
  background: url("https://i.pinimg.com/564x/86/75/98/8675987eb6696493475fb985e64d9ee9--pusheen-love-pusheen-cat.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .details {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  color: #fff;
  font-family: "Open Sans";
  list-style: none;
  margin: 0;
  padding: 10px 15px;
  height: 200px;
  /*POSITION*/
  position: absolute;
  top: 0;
  left: -100%;
}
.blog-card .details > li {
  padding: 3px 0;
}
.blog-card .details li:before, .blog-card .details .tags ul:before {
  font-family: FontAwesome;
  margin-right: 10px;
  vertical-align: middle;
}
.blog-card .details .author:before {
  content: "\f007";
}
.blog-card .details .date:before {
  content: "\f133";
}
.blog-card .details .tags ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.blog-card .details .tags ul:before {
  content: "\f02b";
}
.blog-card .details .tags li {
  display: inline-block;
  margin-right: 3px;
}
.blog-card .details a {
  color: inherit;
  border-bottom: 1px dotted;
}
.blog-card .details a:hover {
  color: #FFA500;
}
.blog-card .description {
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.blog-card .description h1 {
  font-family: "Roboto";
  line-height: 1em;
  margin: 0 0 10px 0;
}
.blog-card .description h2 {
  color: #9b9b9b;
  font-family: "Open Sans";
  line-height: 1.2em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
  margin: 1.2% 0;
}
.blog-card .description p {
  position: relative;
  margin: 0;
  padding-top: 20px;
}
.blog-card .description p:after {
  content: "";
  background: #FFA500;
  height: 6px;
  width: 40px;
  /*POSITION*/
  position: absolute;
  top: 6px;
  left: 0;
}
.blog-card .description a {
  color: #FFA500;
  margin-bottom: 10px;
  float: right;
}
.blog-card .description a:after {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
}
.blog-card .description a:hover:after {
  margin-left: 5px;
  opacity: 1;
}

@media screen and (min-width: 600px) {
  .blog-card {
    height: 200px;
    max-width: 600px;
  }
  .blog-card.alt .details {
    padding-left: 30px;
  }
  .blog-card.alt .description {
    float: right;
  }
  .blog-card.alt .description:before {
    -webkit-transform: skewX(5deg);
            transform: skewX(5deg);
    right: -15px;
    left: inherit;
  }
  .blog-card.alt .photo {
    float: right;
  }
  .blog-card .photo {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    float: left;
    height: 100%;
    width: 40%;
  }
  .blog-card .details {
    width: 40%;
  }
  .blog-card .description {
    float: left;
    width: 60%;
    z-index: 0;
  }
  .blog-card .description:before {
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
    content: "";
    background: #fff;
    width: 100%;
    z-index: -1;
    /*POSITION*/
    position: absolute;
    left: -15px;
    top: 0;
    bottom: 0;
  }
}

// stuff i added
.blog,
.blog-body {

  display: flex;
  flex-direction: column;
}

.blog-nav {
  order: -1;
}

@media (min-width: 768px) {
  .blog-body {
      width: 75%;
    flex-direction: row;
    flex: 1;
  }
  .blog-content {
      width: 75%;
    flex: 1;
  }
  .blog-nav, .blog-ads {
    margin: 10px auto;
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
}

//burger stuff
$color-stack:
  (group: primary, id: normal, color: #fff),
  (group: complement, id: normal, color: #444);

@function color($group, $shade:normal, $transparency:1) {
  @each $color in $color-stack {
    $c-group: map-get($color, group);
    $c-shade: map-get($color, id);
    @if($group == map-get($color, group) and $shade == map-get($color, id)){
      @return rgba(map-get($color, color), $transparency);
    }
  }
}

$b-height: 60px; //Height (and width) of the burger menu
$b-margin-top: 30px; //Burger menu margin (distance from top)
$b-margin-left: 30px; //Burger menu margin (distance from left)
$b-border-width: 2px; //Width of the borders and 'buns'
$b-bun-width: 25px; //Width of the 'buns'
$b-bun-height: $b-border-width; //Height of the 'buns'
$b-border-radius: 50%; //Change the border radius of the menu

$b-trans-speed: .4s; //Transition speed settings
$b-transition: all $b-trans-speed ease; //Transitions

$b-font-size: 24px; //Font size of brand and links
$b-font-family: Helvetica-Neue, Helvetica, Arial, sans-serif; //Font family of the brand and links
$b-font-weight: 300; //Font weight of brand and links
$b-txt-pad: 30px; //Left padding on both brand and links

$b-line-height: ($b-height / 2 - ($b-font-size / 2.8)); //Vertically centers brand to menu
$b-txt-pad-top: ($b-margin-top + $b-height + $b-txt-pad); //Top margin for first link element
$b-bun-width-half: ($b-bun-width / 2); //Half bun width used for calculation
$b-pad-left: ($b-height / 2 - $b-bun-width-half - 2); //Horizontally centers bun in menu
$b-pad-top: ($b-height / 2 - $b-bun-width-half); //Vertically centers bun in menu

body {
  font-size: .9em;
  font-family: "Roboto";
  background: #f1f1f1;
  margin: 2rem;

  &.n:after {
    background: rgba(255,255,255,.5);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: auto;
    padding: 0;
    position: absolute;
    top: 0;
    transition: $b-transition;
    width: 100%;
  }

  &.open {
    overflow: hidden;
  }

  &.open:after {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translate3d(-250px, 0, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-250px, 0, 0);
    visibility: hidden;
  }
}

* {
  box-sizing: border-box;
}


.b-nav {
  position: absolute;
  z-index: 11;

  &:not(.open) {
    visibility: hidden;
  }

  li {
    color: color(complement);
    list-style-type: none;
    padding: 10px;
    text-align: left;
    transform: translateX(-250px);
  }

  li:not(.open) {
    animation-duration: $b-trans-speed;
    animation-fill-mode: both;
    animation-name: slideOutLeft;
  }

  li:first-child {
    padding-top: $b-txt-pad-top;
  }

  &.open {
    visibility: visible;

    li {
      animation-duration: $b-trans-speed;
      animation-fill-mode: both;
      animation-name: slideInLeft;
    }
  }
}

.b-link {
  background: transparent;
  border-left: color(complement, normal, 0) solid $b-border-width;
  color: color(complement);
  font-family: $b-font-family;
  font-size: $b-font-size;
  font-weight: $b-font-weight;
  margin-left: $b-margin-left;
  text-decoration: none;
  transition: $b-transition;
  width: auto;

  &:hover,
  &--active {
    border-left: color(complement) solid $b-border-width;
    padding-left: $b-txt-pad;
  }
}

.b-menu {
  background: color(primary);
  border: color(primary) solid $b-border-width;
  border-radius: $b-border-radius;
  cursor: pointer;
  display: inline-block;
  height: $b-height;
  padding-left: $b-pad-left;
  padding-top: $b-pad-top;
  position: relative;
  transition: $b-transition;
  user-select: none;
  width: $b-height;
  z-index: 12;

  &:hover {
    border: color(complement) solid $b-border-width;
  }
}

.b-bun {
  background: color(complement);
  position: relative;
  transition: $b-transition;

  &--top {
    height: $b-bun-height;
    top: 0;
    width: $b-bun-width;
  }

  &--mid {
    height: $b-bun-height;
    top: 8px;
    width: $b-bun-width;
  }

  &--bottom {
    height: $b-bun-height;
    top: 16px;
    width: $b-bun-width;
  }
}

.b-brand {
  color: color(primary);
  font-family: $b-font-family;
  font-size: $b-font-size;
  font-weight: $b-font-weight;
  margin-left: $b-txt-pad;
  position: relative;
  text-decoration: none;
  top: -$b-line-height;
  transition: $b-transition;
  z-index: 13;
}

.b-container {
  height: $b-height;
  left: $b-margin-left;
  position: absolute;
  top: $b-margin-top;

  &:hover:not(.open) {
    .bun-top,
    .bun-mid,
    .bun-bottom {
      background: color(primary);
    }
  }

  &.open {
    .b-main {
      border: color(complement) solid $b-border-width;
    }

    .b-bun--top {
      background: color(complement);
      top: 9px;
      transform: rotate(45deg);
    }

    .b-bun--mid {
      opacity: 0;
    }

    .b-bun--bottom {
      background: color(complement);
      top: 5px;
      transform: rotate(-45deg);
    }

    .b-brand {
      color: color(complement);
    }
  }
}

xmp {
  font-family: "Roboto Mono";
  font-size: 12px;
  display: inline;
  margin: 0 auto;
}
xmp .padding{
  margin: -1em auto;
  line-height: 1.5em;
// font-family:"Courier New";
}
// terminal
.fakeButtons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: relative;
  top: 6px;
  left: 6px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}

.fakeMinimize {
  left: 11px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.fakeZoom {
  left: 16px;
  background-color: #00d742;
  border-color: #049931;
}

.fakeMenu {
  width: 100%;
  box-sizing: border-box;
  height: 25px;
  background-color: #d1d1d1;
  margin-top: 2em;
  // margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.fakeScreen {
    color: #EEEEDE;
  background-color: #383838;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: wrap;
}

// p {
//   position: relative;
//   left: 50%;
//   margin-left: -8.5em;
//   text-align: left;
//   font-size: 1.25em;
//   font-family: monospace;
//   white-space: nowrap;
//   overflow: hidden;
//   width: 0;
// }
