body {
    margin: 0px;
    padding: 0px;
    font-weight: 100;
    font-family: 'Work Sans', sans-serif;
}

.panel-container {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
}

.panel-container>.main-panel {
    padding: 50px;
    color: #646c7a;
    width: 75%;
    background: #fff;
    display: flex;
    flex-direction: column;
    overflow: auto;

}

.main-panel>.panel-content {
    width: 100%;
}


.panel-container>.side-panel {
    color: #fff;
    width: 650px;
    padding-top: 220px;
    text-align: center;
    background: rgb(255, 236, 210);
    background-image: url('bkg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 80%;
}

h1 {
    letter-spacing: 10px;
    font-size: 48px;
    font-weight: 100;
}

.first {
    color: #6E60DB;
}

.second {
    color: #B359CA;
}

.third {
    color: #D87180;
}

.fourth {
    color: #E99E88;
}


h2 {

    font-weight: 400;
}

.peach {
    color: rgba(252, 182, 159, 1);
}

span {
    letter-spacing: 10px;
    font-size: 48px;
}

a {
    color: #fff;
}

a:visited {
    color: #7666DC;
}

a:active,
a:hover {
    color: #E58A8D;
}

.line {
    margin-top: 30px;
    width: 60%;
    border-radius: 50px;
}
